<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>E-Voting</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/images/faces/scaled_logo.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:/partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a href="dashboard.html"><img src="/images/faces/scaled_logo.png" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="/dashboard.html"></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <div class="search-field d-none d-md-block">
         
        </div>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <div class="nav-profile-img">
                <img src="/images/faces/scaled_logo.png" alt="image">
                <span class="availability-status online"></span>             
              </div>
              <div class="nav-profile-text">
                <p class="mb-1 text-black">CIPL</p>
              </div>
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/index.html">
                <i class="mdi mdi-logout mr-2 text-primary"></i>
                Signout
              </a>
            </div>
          </li>
          <li class="nav-item d-none d-lg-block full-screen-link">
            <a class="nav-link">
              <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:/partials/_sidebar.html -->
      <p class="sidebar sidebar-offcanvas" id="sidebar"></p>
        

      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">
                  <span class="page-title-icon bg-gradient-primary text-white mr-2">
                    <i class="mdi mdi-account-plus"></i>                 
                  </span>
                  Add New User
                </h3>
              </div>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add a new user</h4>
                  
                    <!-- <input type="file" name="imgUploader" multiple /> -->
                    <!-- <input type="submit" name="submit" id="btnSubmit" value="Upload" /> </form> -->
                 
                    <!-- <form class="forms-sample" action="/c/<%= name %>/testImage" method="POST"> --> 

                      <!-- <img src="/Users/UserImage_1583472803348_Photo.jpg" alt=""> -->
                      Thanks for Voting!!!!
                      <!-- <form id="frmUploader" enctype="multipart/form-data" action="/c/<%= name %>/testImage" method="post">
                    <div class="form-group row"> 
                        <div class="input-group col-xs-12">
                          <label for="exampleInputMobile" class="col-sm-3 col-form-label" name="userImage">File upload</label>
                          <input type="file"  class="form-control file-upload-info" multiple enable name="userImage" placeholder="Upload Image">
                          <input type="submit" name="submit" id="btnSubmit" value="Upload" /> 
                          
                        </div>
                      </div>
                     <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button> -->
                    <!-- <button class="btn btn-light">Cancel</button> -->
                  <!-- </form> --> 
                </div>
              </div>
        </div>

        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Cognoscente Invnted Pvt. Ltd. <img src="/images/faces/scaled_logo.png" width="16px" height="20px"/></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/vendors/js/vendor.bundle.base.js"></script>
  <script src="/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/js/off-canvas.js"></script>
  <script src="/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/js/file-upload.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
